#scatterplot svg {
    background-color:white;
    margin: 2px 2px 2px 2px;
}

#data_info_box {
    text-indent:1em;
    margin: 5px 5px 5px 5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width:4;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
}
