#scatterplot svg {
    background-color:white;
    margin: 2px 2px 2px 2px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width:4;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
}

.red_wine {
    fill:red;
    fill-opacity:0.2;
    stroke: firebrick;
    stroke-width:1;
}

.white_wine {
    fill:gold;
    fill-opacity:0.2;
    stroke:goldenrod;
    stroke-width:1;
}

#quality_selectbox {
    margin-left:20%;
}

#dataset_selectbox {
    margin-left:20%;
}

body {
    margin-top:20px;
    margin-left:20px;
}
